:root{
    --color-button: #E50914;
    --text-padding: 2rem;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Open Sans Bold 700', sans-serif;
}

body{
    font-size: 1.6rem;
}

img{
    width: 100%;
}

.header{
    background-color: black;
    color: white;
    width: 100vw;
}

.containar{
    display: flex;
    justify-content: space-between;
    /* padding: 0.8rem; */
}

.netflix-logo{
    width: 16rem;
    height: 10remx;
    margin-left: 40px;
}

.nav{
    padding: 2rem;
}

.nav-ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.list-items-nav{
    padding: 1rem;
}

#language{
    border: 0.5px solid white;
    margin-right: 30px;
    
}

.list-items-nav a{
    text-decoration: none;
    color: white;
}

.button{
    background-color: var(--color-button);
    border-radius: 0.5rem;
    margin-right: 30px;
}

.main{
    width: 100vw;
    height: 60vh;
}

.one-section{
    padding-top: 10rem;
}

.two-section{
    margin: 1rem 0;
}

.three-section{
    margin: 2rem;
}

.register-section{
    height: 70vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/d9cb1eea-62ee-4ec1-9b90-8d98874b8867/95c0d0d1-3a20-4f7b-af7e-ed2dd36266d0/MX-es-20210817-popsignuptwoweeks-perspective_alpha_website_small.jpg); 
    width: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 200px 200px black inset;
    object-fit: cover;
}

.one-text{
    font-family: 'Open Sans Bold 700', sans-serif;
    text-align: center;
    font-size: 7rem;
    color: white;
}

.two-text{
    text-align: center;
    font-size: 3rem;
    color: white;
}

.three-text{
    text-align: center;
    font-size: 2rem;
    color: white;
}

.section-mail-input{
    display: flex;
    justify-content: center;
    padding-bottom: 15rem;
}

.mail-input{
    width: 500px;
    height: 60px;
    border-radius: 0.5rem;
    font-size: 2rem;
}

.comenzar-button{
     background-color: var(--color-button);
     border-radius: 0.3rem;
     color: white;
     width: 20rem;
     font-size: 2.5rem;
}

.tv-enjoy{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border-top: 5px solid rgb(95, 95, 95);
}

.div-tv-enjoy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2.5rem;   
    margin-top: 30px;
}

.tv-title{
    font-size: 5rem;
}

.div-img{
    display: flex;
    align-items: center;
    margin-left: 5rem;
    margin-top: 50px;
}

.div-img figure img{
    width: 30rem;
    height: 20rem;
}